<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link href="/css/product.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div id="product_section">
      <aside id="aside">
        <div class="filter">
          <div class="aside_btns">
            <a href="#" class="filter_btn">Filter</a>
            <a href="#" class="clear_btn">Clear</a>
          </div>
          <form class="types_of_filter">
            <input type="radio" id="Men" name="fav_language" value="Men" />
            <label for="Men">Men's</label><br />
            <input type="radio" id="Women" name="fav_language" value="Women" />
            <label for="Women">Women's</label><br />
            <input
              type="radio"
              id="Children"
              name="fav_language"
              value="Children"
            />
            <label for="Children">Children's</label>
          </form>
          <div class="Categories">
            <h1 class="Categories_heading">Categories</h1>
            <p class="categories_type"><input type="checkbox" /> Skin Care</p>
            <p class="categories_type"><input type="checkbox" /> Body Wash</p>
            <p class="categories_type"><input type="checkbox" /> Makeup</p>
            <p class="categories_type"><input type="checkbox" /> Fragrance</p>
            <p class="categories_type"><input type="checkbox" /> Serum</p>
            <p class="categories_type"><input type="checkbox" /> Balms</p>
          </div>
        </div>
      </aside>
      <div class="product_container">
        <div class="product_item">
          <div class="image_section">
            <img
              src="/image/bd_1.png"
              alt="product image"
              class="product_images"
            />
          </div>
          <h4 class="item_name">CK One Body Wash by Calvin Klein</h4>
          <div class="product_price">
            <strong>$47</strong>
            <p class="mrp">M.R.P: $93</p>
            <p class="off">(47% off)</p>
          </div>
          <p class="delivery_time">
            - git it by, <span>Tomorrow, 11:30 AM to 9:30 PM</span>
          </p>
          <div class="order_btns">
            <button class="add_btn">AddToBag</button>
            <button class="wish_btn">AddToWishList</button>
          </div>
        </div>
        <div class="product_item">
          <div class="image_section">
            <img
              src="/image/bd_2.png"
              alt="product image"
              class="product_images"
            />
          </div>
          <h4 class="item_name">Lux Body Wash Bottle</h4>
          <div class="product_price">
            <strong>$47</strong>
            <p class="mrp">M.R.P: $93</p>
            <p class="off">(47% off)</p>
          </div>
          <p class="delivery_time">
            - git it by, <span>Tomorrow, 11:30 AM to 9:30 PM</span>
          </p>
          <div class="order_btns">
            <button class="add_btn">AddToBag</button>
            <button class="wish_btn">AddToWishList</button>
          </div>
        </div>
        <div class="product_item">
          <div class="image_section">
            <img
              src="/image/bd_3.png"
              alt="product image"
              class="product_images"
            />
          </div>
          <h4 class="item_name">Red Perfume Body Wash Bottle</h4>
          <div class="product_price">
            <strong>$47</strong>
            <p class="mrp">M.R.P: $93</p>
            <p class="off">(47% off)</p>
          </div>
          <p class="delivery_time">
            - git it by, <span>Tomorrow, 11:30 AM to 9:30 PM</span>
          </p>
          <div class="order_btns">
            <button class="add_btn">AddToBag</button>
            <button class="wish_btn">AddToWishList</button>
          </div>
        </div>
        <div class="product_item">
          <div class="image_section">
            <img
              src="/image/bd_7.png"
              alt="product image"
              class="product_images"
            />
          </div>
          <h4 class="item_name">Red Perfume Body Wash Bottle</h4>
          <div class="product_price">
            <strong>$47</strong>
            <p class="mrp">M.R.P: $93</p>
            <p class="off">(47% off)</p>
          </div>
          <p class="delivery_time">
            - git it by, <span>Tomorrow, 11:30 AM to 9:30 PM</span>
          </p>
          <div class="order_btns">
            <button class="add_btn">AddToBag</button>
            <button class="wish_btn">AddToWishList</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
